.calendar-sidebar {
  position: relative;
  width: 100px;
  height: 600px;
  border: 1px solid black;
  overflow-y: hidden;

  .calendar-month-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s
  }

  .month-list-item {
    text-align: center;
    height: 50px;
    line-height: 50px;
  }

  .month-selector {
    position: absolute;
    border: 1px solid black;
    top: 50%;
    left: 10px;
    right: 10px;
    transform: translate(0, -50%);
    height: 50px;
  }


}
